nav {
    border-bottom: 1px solid $line-color;
    background-color: white;
    margin-bottom: 10px;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            
            display: inline-block;
            height: 32px;
            img {
                width: 202px;
            }
        }
        .nav-tab {
            margin-left: 40px;
            flex-grow: 1;
            display: flex;
            color: $text-color-three;
            li {
                cursor: pointer;
                font-size: 18px;
                text-align: center;
              
                margin: 0 15px;
                line-height: 84px;
               
                span {
                    transform-origin: center;
                    display: inline-block;
                    line-height: 25px;
                    img {
                        display: inline-block;
                        height: 5px;
                        vertical-align: middle;
                        transform: rotate(180deg)
                    }
                }
                span.reverse {
                    img {
                        transform: rotate(0deg)
                    }
                }
                &:hover{
                    opacity: .5;
                }
            }
            li.active{
                color: $theme-color;
                font-weight: bolder;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 54px;
                    height: 4px;
                    background-color: $theme-color;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 76px;
                }
            }
        }
        .login-btn {
            background-color: $theme-color;
            width: 170px;
            height: 50px;
            border-radius: 25px;
            color: white;
            line-height: 50px;
            text-align: center;
            a {
                color: #ffffff;
                text-decoration: none;
            }
            &>img {
                vertical-align: middle;
                margin-top: -3px;
                margin-left: -4px;
                margin-right: 4px;
            }
            &:hover {
                    background-color: #00B793;
                    cursor: pointer;
                }
        }
        .login-out {
            display: flex;
            color: #555555;
            align-items: center;
           
            .person-img{
                width: 40px;
                height: 40px;
                border-radius: 20px;
                overflow: hidden;
                img{
                width: 40px;
                height: 40px;
                vertical-align: top;
                }
                
            }
            .person-info {
                display: flex;
                margin-left: 10px;
                font-size: 16px;
                align-items: center;
                a{
                    color: #555555;
                    text-decoration: none;
                    margin-left: 4px;
                }
            }
            
        }
    }

    
}