#toasts {
    display: block;
    color: $theme-color;
    background-color: #ffffff;
    border-radius: 30px;
    font-size: 20px;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    padding: 4px 12px;
    @include div-shadow;
    padding: 12px 24px;
    display: none;
}